.text{
    padding: 50px 0;

}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 12px 10px 8px 0px rgba(105,62,105,0.87);
-moz-box-shadow: 12px 10px 8px 0px rgba(105,62,105,0.87);
box-shadow: 12px 10px 8px 0px rgba(105,62,105,0.87);
   
}
a{
    text-decoration: none;
    color: black;
  font-weight: 800;
}

a:focus{
    color: red;
    text-decoration: underline;
}


.body , html{
    scroll-behavior: smooth;
font-family: cursive;
}
h1{
    font-style: italic;
}