body {
  font-family: "Permanent Marker", cursive;
  background: rgb(121, 9, 118);
  background: linear-gradient(90deg, rgb(121, 9, 118) 3%, rgb(95, 130, 79) 18%, rgb(172, 173, 72) 41%, rgb(190, 37, 200) 70%, rgb(0, 212, 255) 100%);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}

.logo {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu {
  gap: 32px;
  display: flex;
}

.link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: var(--SystemBlue-Light, #007aff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 33px;
  border: 0.5px solid rgba(0, 122, 255, 0.12);
  background: rgba(0, 122, 255, 0.12);
  padding: 16px;
}

.search {
  width: 471px;
  border-radius: 60px;
  border: 1px solid var(--SystemGray-05-Light, #e5e5ea);
  background: #fff;
  box-shadow: 0px 12px 24px 0px rgba(5, 16, 55, 0.04);
  padding: 16px 24px;
  outline: 1px solid transparent;
  transition: all 0.5s;
  background-image: url(./lupa.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  padding-left: 50px;
}
.search:focus {
  outline: 1px solid #007aff;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  flex-wrap: wrap;
}

.card {
  border-radius: 16px;
  border: 1.5px solid #e6e6e6;
  background: #fff;
}
.card img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.box {
  padding: 10px;
}

.bid {
  color: var(--SystemGray-01-Light, #8e8e93);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-align: right;
  padding-top: 40px;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name p {
  color: var(--SystemGray-01-Light, #8e8e93);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}
.name h3 {
  margin-left: auto;
}

.user {
  max-width: 24px;
  width: 100%;
}

h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

.pp {
  width: 200px;
  height: 200px;
  -webkit-clip-path: polygon(0% 15%, 47% 23%, 52% 0, 86% 37%, 85% 15%, 100% 29%, 100% 66%, 68% 66%, 94% 100%, 49% 73%, 1% 92%, 58% 41%);
          clip-path: polygon(0% 15%, 47% 23%, 52% 0, 86% 37%, 85% 15%, 100% 29%, 100% 66%, 68% 66%, 94% 100%, 49% 73%, 1% 92%, 58% 41%);
  background-image: url(./3F.webp);
  margin: 0 auto;
  transition: all 2s linear;
  box-shadow: 4px 4px 8px 17px rgba(255, 255, 255, 0.2);
}

.ricr {
  text-align: center;
  margin-top: 60px;
  font-size: x-large;
}

.pp:hover {
  transform: rotate(360deg);
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 775px) {
  .icon {
    display: none;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 725px) {
  .menu {
    display: none;
  }
}
@media (max-width: 442px) {
  .search {
    display: none;
  }
}
@media (max-width: 420px) {
  .cards {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */