h1 {
    text-align: center;
    color: aqua;
    -webkit-text-stroke: 1px black;
}

body {
    background-image: url(https://sun9-43.userapi.com/impf/c621719/v621719020/37231/zWxgR-bZ4R4.jpg?size=486x596&quality=96&sign=037772201375728b59e8659e5ce2264e&type=album);


}