.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    border-radius: 10px;


    a{
        background-color: gold;
        padding: 10px;
        border: 2px solid black;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}



