@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press start 2p', cursive;
}


body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

h3{
    text-align: center;
    padding-top: 20px;
}

.container{
    width: 500px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
    color: chartreuse;
    border: 30px solid rgb(211, 122, 86);
    .block_1{
        display: flex;
        gap: 10px;

    }

    .block_2{
        display: flex;
    }

    #clock{
        font-size: 40px;
    }
}


#am_pm{
    color: greenyellow;
}


@media (max-width:500px) {
    .container{
        transform: rotate(90deg);
        position: relative;
        top: 200px;
    }
}